.roomCard {
    border: 1px solid #000000;
    margin: 40px 20px 20px 0;
    min-width: 250px;
}

.roomCard h2,
.roomCard .join-btn {
    margin-top: 15px;
    margin-bottom: 20px;
}

.join-btn {
    display: block;
}

#game-zone,
#answer {
    border: 1px solid #000000;
    padding: 10px;
    width: 30vw;
}

.ready-status-green,
.ready-status-red {
    padding: 5px;
    border-radius: 50%;
    height: 5em;
    width: 5em;
}

.ready-status-green {
    background: #0ae000;
    border: 0.1875em solid #16a201;
}

.ready-status-red {
    background: #fa1616;
    border: 0.1875em solid #a70000;
}